<style type="text/css">a {text-decoration: none}</style>
<style>
.my-button .django-submit {
    text-decoration: none;
    border : none;
    padding: 10px 30px;
    color: #FFFFFF;
    background: #8FBC8F;

}


li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

label {
	font-family:"Century Gothic", AppleGothic, sans-serif;
}
form {
	font-family:"Century Gothic", AppleGothic, sans-serif;
}
input{
	font-family:"Century Gothic", AppleGothic, sans-serif;
}
button {
	font-family:"Century Gothic", AppleGothic, sans-serif;
}
body {
	background-color: #FFFFFF;
}
p.sansserif {
	font-family: "Century Gothic", AppleGothic, sans-serif;
}
p.sansserifgrey {
	font-family: "Century Gothic", AppleGothic, sans-serif;
	color: #808080;
	font-weight: lighter;
}
	.wrapper {
		text-align: center;
	}
	.wrapper ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		/* For IE, the outcast */
		zoom:1;
		*display: inline;
	}

	ul {
		list-style-type: none;
		margin: auto;
		padding: auto;
		overflow: hidden;
		background-color: #FFFFFF;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover:not(.active) {
		background-color: #8FBC8F;
	}

	.active {
		background-color: #4CAF50
	}
	.active2 {
		background-color: #83cca5;
	}

  table {
    border-collapse: collapse;
    width: 50%;
    font-family:"Century Gothic", AppleGothic, sans-serif;
}
th, td {
    padding: 15px;
    text-align: left;

}
tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #ff9966;
    color: white;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

</style>
