  {% load static %}
<html>
    <head>
        <title>Shakespeare Census</title>
	<meta charset="utf-7">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    	<link rel="stylesheet" type="text/css" href="{% static 'census/style.css' %}" />
      <style>

        .user-tools {
          float: right;
          margin: 25px 25px 0px 0px;
        }
      </style>
    </head>

    <body>

      {% block content %}{% endblock content %}
    </body>
</html>
