{% extends "base.html" %}
{% load static %}
{% block content %}

<script type="text/javascript" src="/static/census/popup_script.js"></script>

<div align="center">
	<p class="sansserifgrey">
	<font size = "6"> <light>Title</light> </font></br>1. Input your title. </br> 2. Click "Submit".
	</p>
</div>
<div align="center">
	<div class="wrapper">
	<p class ="sansserif">
		<form method="post" action="{% url 'add_title' %}">
		{% csrf_token %}
		<table class = "table2" align="center">
		{% for field in title_form.visible_fields %}
		<tr>
			{% if field.errors %}
				{% for error in field.errors %}
	            <div class="alert alert-danger">
	                <strong>{{ error|escape }}</strong>
	            </div>
	        {% endfor %}
			{% endif %}
		<td> {{ field.label_tag }}</td>
		<td> {{ field }}</td>
		</tr>
		{% endfor %}
		</table>
		<br>
    	<input type="submit" name="submit" value="Submit" class="finalsubmit" style="position:fixed; left:50%;"/>
		</form>
	</p>
</div>


{% endblock content %}
