{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href= "{% static 'census/bootstrapbuttons.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <script type="text/javascript" src="/static/census/copy_detail_edit_modal.js"></script>

<div id="titleModal" class="modal fade" role="dialog"></div>
<div id="editionModal" class="modal fade" role="dialog"></div>
<div id="issueModal" class="modal fade" role="dialog"></div>

<div class="wrapper">
<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey" style="font-size:12px">
	Find all of the titles in the database below. <br>Click the edition for all copy information of that edition.
	</p>
  <hr class="style14" width = "50%"></hr>

</div>
<form method='GET' action=''>
<input type='text' name ='q' placeholder='Refine your search.' value ='{{ request.GET.q }}' class="refinesearch" style="width:300px;"/>
<br>
<br>

<input type='submit' value='search' class="finalsubmit"/>
</form>

{% if query %}

<p class="sansserif">
  <table class = "center" align="center" width="90%">
      <tr>
        <th> Title </th>
      </tr>
      {% for title in object_list %}
      <tr>
        <td>
          <i class="fa fa-caret-down" aria-hidden="true" onclick="toggleEditions({{title.id}});"></i>{{ title.title }}
          <a class="title_data" id="title_modal{{title.id}}" href="#" data-form="{% url 'title_data' title.id %}" title="Details">
            more details...</a>
          <a href="#"  class="btn btn-default" style="float:right">Edit</a>

        <div id="editions {{title.id}}" class="hidden">
          <br>
          <br>
          {% for edition in title.edition_set.all %}
            <ul style="line-height: 28px">
              <i class="fa fa-caret-down" aria-hidden="true" onclick="toggleIssues({{edition.id}});"></i>
              Edition {{ edition.Edition_number }}
              <a class="edition_data" id="edition_modal{{edition.id}}" href="#" data-form="{% url 'edition_data' edition.id %}" title="Details">
                more details...</a>
              <a href="#" style="margin-left: 1.5em" >Edit</a>

              <div id="issue {{edition.id}}" class="hidden">
              {% for issue in edition.issue_set.all %}
              <ul style="line-height: 28px">
                ESTC {{ issue.ESTC }}
                <a class="issue_data" id="issue_modal{{issue.id}}" href="#" data-form="{% url 'issue_data' issue.id %}" title="Details">
                  more details...</a>
                <a href="#" style="margin-left: 1.5em">Edit</a>
              </ul>
              {% endfor %}
              </div>
            </ul>
              {% endfor %}
        </div>
      </td>
      </tr>
      {% endfor %}
    </table>

<div class="pagination">
    <table class = "pagenavigator" align="center">
    <tr class ="pagenavigator">
      {% if object_list.has_previous %}
      <td class = "hoverspecial"> <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}" class="paginator"><</a></td>
      {% endif %}

    {% for page in object_list.paginator.page_range %}
      {% if page <= object_list.number|add:"3" %}
        {% if page >= object_list.number|add:"-3" %}
        {% if page == object_list.number %}
          <td class = "currentpage" width="20px">{{ page }}</td>
        {% else %}
          <td class="pagenavigator" width="20px"> <a href = "?page={{ page }}&q={{ request.GET.q }}" class="paginator">{{ page }}</td>
        {% endif %}
        {% endif %}

      {% endif %}
    {% endfor %}

      {% if object_list.has_next %}
       <td class = "hoverspecial">  <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}" class="paginator">></a></td>
      {% endif %}
    </tr>
  </table>
  Pages generated: {{ object_list.paginator.num_pages }}
</div>
</p>
{% else %}

{% if titles %}
<p class="sansserif">
<table class = "center" align="center" width="90%">
    <tr>
      <th> Title </th>
    </tr>
    {% for title in titles %}
      <tr>
        <td>
          <i class="fa fa-caret-down" aria-hidden="true" onclick="toggleEditions({{title.id}});"></i>{{ title.title }}
          <a class="title_data" id="title_modal{{title.id}}" href="#" data-form="{% url 'title_data' title.id %}" title="Details">
            more details...</a>
          <a href="#"  class="btn btn-default" style="float:right">Edit</a>

        <div id="editions {{title.id}}" class="hidden">
          <br>
          <br>
          {% for edition in title.edition_set.all %}
            <ul style="line-height: 28px">
              <i class="fa fa-caret-down" aria-hidden="true" onclick="toggleIssues({{edition.id}});"></i>
              Edition {{ edition.Edition_number }}
              <a class="edition_data" id="edition_modal{{edition.id}}" href="#" data-form="{% url 'edition_data' edition.id %}" title="Details">
                more details...</a>
              <a href="#" style="margin-left: 1.5em" >Edit</a>

              <div id="issue {{edition.id}}" class="hidden">
              {% for issue in edition.issue_set.all %}
              <ul style="line-height: 28px">
                ESTC {{ issue.ESTC }}
                <a class="issue_data" id="issue_modal{{issue.id}}" href="#" data-form="{% url 'issue_data' issue.id %}" title="Details">
                  more details...</a>
                <a href="#" style="margin-left: 1.5em">Edit</a>
              </ul>
              {% endfor %}
              </div>
            </ul>
              {% endfor %}
        </div>
      </td>
   		</tr>
    {% endfor %}
  </table>
</div>
</p>

<div class="pagination">
      <table class = "pagenavigator" align="center">
        <tr class ="pagenavigator">

      {% if titles.has_previous %}
      <td class = "hoverspecial">  <a href="?page={{ titles.paginator.1 }}" class="paginator"><<</a></td>
      <td class = "hoverspecial"> <a href="?page={{ titles.previous_page_number }}" class="paginator"><</a></td>
      {% endif %}
    {% for page in titles.paginator.page_range %}
      {% if page <= titles.number|add:"3" %}
        {% if page >= titles.number|add:"-3" %}
        {% if page == titles.number %}
            <td class = "currentpage" width="20px">  {{ page }} </td>
            {% else %}
            <td class="pagenavigator" width="20px"> <a href = "?page={{page }}" class="paginator">{{ page }}  </td>
            {% endif %}
            {% endif %}
        {% endif %}

      {% endfor %}

      {% if titles.has_next %}
     <td class = "hoverspecial"> <a href="?page={{ titles.next_page_number }}" class="paginator">></a></td>
           <td class = "hoverspecial">  <a href="?page={{ titles.paginator.num_pages }}" class="paginator">>></a></td>

      {% endif %}
        </tr>
      </table>
        Pages generated: {{ titles.paginator.num_pages }}

</div>

{% else %}
    <p class="sansserif" align="center">Oh no! No books are available.</p>
{% endif %}
{% endif %}

<script>
function toggleEditions(title_id) {
  var editions_div_id = "editions " + title_id;
  var editions_div = document.getElementById(editions_div_id);
  if (editions_div.classList.contains("hidden")) {
    editions_div.classList.remove("hidden");
  } else {
    editions_div.classList.add("hidden");
  }
}

function toggleIssues(edition_id) {
  var issues_div_id = "issue " + edition_id;
  var issues_div = document.getElementById(issues_div_id);
  if (issues_div.classList.contains("hidden")) {
    issues_div.classList.remove("hidden");
  } else {
    issues_div.classList.add("hidden");
  }
}
</script>
{% endblock content %}
