{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
<link rel="stylesheet" type="text/css" href= "{% static 'census/detail.css' %}" />
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'>
<div class="wrapper">
<hr class = "style14" width = "50%"></hr>
	<p class="sansserifgrey">
	Displayed is the list of issues and respective copies for the selected edition.
	</p>
</div>
<hr class="style14" width = "50%"></hr>

<div class="wrapper">
<p class = "sansserif">
<table class="center" align="center" width="90%">
<tr>
<td colspan="6" class="announcer">
  <a href= "{% url 'index' %}" class="linkbutton">all titles</a> |
  <a href = "{% url 'index' %}?q={{ selected_edition.title }}" class="linkbutton">{{selected_edition.title}}</a> |
  {% if selected_edition.Edition_number == "anr. ed." %}
    {{ selected_edition.Edition_number }}
  {% else %}
    edition {{ selected_edition.Edition_number }}:
  {% endif %}
  <div class = "announcer2"> Copies</div>
</td>
</tr>
</table>
</div>
<hr class="style3" width="60%">

{% for issue in all_issues %}
<div class="container">
<div class = "ui list">
<div class="item">

<!-- <div class="announcer" id="announcer{{issue.id}}" style="display:none">
 -->
<!--   <table class = "center" align="center">
    <thead>
    <th colspan="6">
      <i class="chevron circle down icon" id= "rotating" style="position:relative"></i>
      <a href="#copy_info{{issue.id}}" class="linkbutton" onclick="myfunction(rotating)"> issue ESTC {{ issue.ESTC }} |
      STC/Wing {{ issue.STC_Wing}} ({{ issue.year }})</a>
    </th>
    </thead>
  </table>
</div>
 </div>-->
</div>
</div>

<table align="center" style="width:70%;">
  <thead style="width:100%">


  <th colspan="4">
  <i class="chevron circle up icon" id = "rotating" style="position:relative"></i>

  <a href="#copy_info{{issue.id}}" class="linkbutton" onclick="show_copy_info({{issue.id}}); myfunction(rotating);"> issue ESTC {{ issue.ESTC }} |
    STC/Wing {{ issue.STC_Wing}} ({{ issue.year }})</a>
  </th>
</thead>
{% if issue.copy_set.all %}

<tbody id="copy_info{{issue.id}}" style="display:block">
<tr>
<td class="subhead">Owner</td>
<td class="subhead">Shelfmark</td>
<td class="subhead">Copy notes</td>
<td class="subhead">Provenance information</td>
</tr>

  {% for copy in issue.copy_set.all %}
  <tr>
    <td>{{copy.Owner}}</td>
    <td>
      {% if copy.Shelfmark %}
      {{ copy.Shelfmark }}
      {% else %}
      None
      {% endif %}
    </td>
    <td>
      {% if copy.copynote %}
        {{ copy.copynote }}
      {% else %}
        None
      {% endif %}
    </td>
    <td>
      {% if copy.prov_info %}
        {{ copy.prov_info }}
      {% else %}
        None
      {% endif %}
    </td>
  </tr>
  {% endfor %}

{% else %}
<tbody>
  <tr>
  <td class="subhead">There are no copies for this issue right now.</td>
  </tr>
</tbody>
{% endif %}
</table>
</div>

<br>
{% endfor %}

<script>
function show_copy_info(issue_id) {
  event.preventDefault();
  // var announcer_id = "announcer" +issue_id;
  // var announcer_div = document.getElementById(announcer_id);
  var div_id = "copy_info"+issue_id;
  var copy_div=document.getElementById(div_id);

  if(copy_div.style.display==="block") {
    copy_div.style.display = "none";
    copy_div.style.width = "100%";

  } else {
    copy_div.style.display = "block";
    copy_div.style.width = "100%";
  }
  // if(announcer_div.style.display==="none") {
  //   announcer_div.style.display="block";
  // } else {
  //   announcer_div.style.display="none";
  // }
}
function myfunction() {
  if(document.getElementById("rotating").classList.contains("rotator")) {
    document.getElementById("rotating").classList.remove("rotator");
    document.getElementById("rotating").classList.add("antirotator");
  }
  else if(document.getElementById("rotating").classList.contains("antirotator")) {
    document.getElementById("rotating").classList.remove("antirotator");
    document.getElementById("rotating").classList.add("rotator");

  }
  else {
  document.getElementById("rotating").classList.add("rotator");
}
}
</script>

{% endblock content %}
