{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="wrapper">

<ul>
<li><a class="not.active" href="http://localhost:8000/"><p class="sansserif">
Titles</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/editions"><p class="sansserif">
Editions</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/provenance"><p class="sansserif">
Provenance</p></a></li>
<li><a class="active" href="http://localhost:8000/census/copy"><p class="sansserif">
Copy</p></a></li>


<li class="dropdown">
    <a class="not.active" href="http://localhost:8000/census/submission" class="dropbtn"><p class="sansserif">Submission</p></a>
    <div class="dropdown-content">
        <a href="http://localhost:8000/census/submission" class="not.active"><p class="sansserif">Titles</p></a>
        <a href="http://localhost:8000/census/submissionedition"><p class="sansserif">Editions</p></a>
        <a href="http://localhost:8000/census/submissioncopy"><p class="sansserif">Copies</p></a>
    </div>
</li>

<li><a class="not.active" href="http://localhost:8000/census/register"><p class="sansserif">Register</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/login"><p class="sansserif">Login</p></a></li>

</ul>

<h2>You have submitted the following copy:</h2>

<br>
<br>
<div class="newspaper">
    <p class="sansserif">
    	<table class = "center">
    		<tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr>
        <tr>
    			<td>Title</td>
   				<td>{{ selected_edition.title }}</td>
   			</tr>
        <tr>
    			<td>Edition</td>
   				<td>{{ selected_edition }}</td>
   			</tr>
    		<tr>
    			<td>Issue</td>
   				<td>{{ selected_copy.issue }}</td>
   			</tr>
        <tr>
    			<td>Thumbnail URL</td>
   				<td>{{ selected_copy.thumbnail_URL }}</td>
   			</tr>
   			<tr>
   				<td> NSC </td>
   				<td>{{ selected_copy.NSC }}</td>
   			</tr>
            <tr>
                <td> Owner </td>
                <td>{{ selected_copy.Owner }}</td>
            </tr>
            <tr>
                <td> Shelfmark </td>
                <td>{{ selected_copy.Shelfmark }}</td>
            </tr>
            <tr>
                <td> Height </td>
                <td>{{ selected_copy.Height }}</td>
            </tr>
            <tr>
                <td> Width </td>
                <td>{{ selected_copy.Width }}</td>
            </tr>
            <tr>
                <td> Marginalia </td>
                <td>{{ selected_copy.Marginalia }}</td>
            </tr>
            <tr>
                <td> Condition </td>
                <td>{{ selected_copy.Condition }}</td>
            </tr>
            <tr>
                <td> Binding </td>
                <td>{{ selected_copy.Binding }}</td>
            </tr>
        </table>
        </p>
</div>

{% endblock content %}
