{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300" rel="stylesheet">

<hr class = "style14" width = "50%"></hr>
	<p class="sansserifgrey" align="center">
	See all entries in the database below.
	</p>
</div>
<hr class="style14" width = "50%"></hr>
<form method='GET' action=''>
<input type='text' name ='q' placeholder='Refine your search.' value ='{{ request.GET.q }}' class="refinesearch">
<br>
<br>

<input type='submit' value='search' class="finalsubmit"/>
</form>
{% if query %}
    <p class="sansserif">
      <table class = "center" align="center" width="100%">
        <tr>
          <th> Title </th>
					<th> Year published </th>
                <th> Edition </th>
                <th> ESTC </th>
                <th> STC/Wing </th>
                <th> Owner </th>
								<th> Copy notes </th>
								<th> Provenance information </th>
        </tr>
        <tr>
        {% for obj in object_list %}
          <td>{{ obj.issue.edition.title }}</td>
					<td>{{ obj.issue.year }}</td>
                <td>{{ obj.issue.edition.Edition_number }}</td>
                <td>{{ obj.issue.ESTC }}</td>
                <td>{{ obj.issue.STC_Wing}}</td>
                <td>{{ obj.Owner }}</td>
								<td>
									{% if copy.copynote %}
										{{ copy.copynote }}
									{% else %}
										None
									{% endif %}
								</td>
								<td>
									{% if copy.prov_info %}
										{{ copy.prov_info }}
									{% else %}
										None
									{% endif %}
								</td>

        </tr>

        {% endfor %}
        </table>
</p>
<div class="pagination">
    <table class = "pagenavigator" align="center">
    <tr class ="pagenavigator">
      {% if object_list.has_previous %}
      <td class = "hoverspecial"> <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}" class="paginator"><</a></td>
      {% endif %}

    {% for page in object_list.paginator.page_range %}
      {% if page <= object_list.number|add:"3" %}
        {% if page >= object_list.number|add:"-3" %}
        {% if page == object_list.number %}
          <td class = "currentpage" width="20px">{{ page }}</td>
        {% else %}
          <td class="pagenavigator" width="20px"> <a href = "?page={{ page }}&q={{ request.GET.q }}" class="paginator">{{ page }}</td>
        {% endif %}
        {% endif %}

      {% endif %}
    {% endfor %}

      {% if object_list.has_next %}
       <td class = "hoverspecial">  <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}" class="paginator">></a></td>
      {% endif %}
    </tr>
  </table>
  Pages generated: {{ object_list.paginator.num_pages }}
</div>

{% else %}
{% if copies %}
    <p class="sansserif">
    	<table class = "center" align="center" width="100%">
    		<tr>
    			<th> Title </th>'
					<th> Year published </th>
                <th>Edition #</th>
                <th> ESTC </th>
                <th>STC/Wing</th>
                <th> Owner </th>
								<th> Copy notes </th>
								<th> Provenance information </th>
    		</tr>
    		<tr>
    		{% for copy in copies %}
   				<td>{{ copy.issue.edition.title }}</td>
					<td>{{ copy.issue.year }}</td>
                <td>{{ copy.issue.edition.Edition_number }}</td>
                <td>{{ copy.issue.ESTC }}</td>
                <td>{{ copy.issue.STC_Wing}}</td>
                <td>{{ copy.Owner }}</td>
								<td>
									{% if copy.copynote %}
										{{ copy.copynote }}
									{% else %}
										None
									{% endif %}
								</td>
								<td>
									{% if copy.prov_info %}
										{{ copy.prov_info }}
									{% else %}
										None
									{% endif %}
								</td>

   			</tr>

        {% endfor %}
        </table>


    </p>

<div class="pagination">
    <table class = "pagenavigator" align="center">
    <tr class ="pagenavigator">
      {% if copies.has_previous %}
      <td class = "hoverspecial"> <a href="?page={{ copies.previous_page_number }}" class="paginator"><</a></td>
      {% endif %}

    {% for page in copies.paginator.page_range %}
      {% if page <= copies.number|add:"3" %}
        {% if page >= copies.number|add:"-3" %}
        {% if page == copies.number %}
          <td class = "currentpage" width="20px">{{ page }}</td>
        {% else %}
          <td class="pagenavigator" width="20px"> <a href = "?page={{ page }}" class="paginator">{{ page }}</td>
        {% endif %}
        {% endif %}

      {% endif %}
    {% endfor %}

      {% if copies.has_next %}
       <td class = "hoverspecial">  <a href="?page={{ copies.next_page_number }}" class="paginator">></a></td>
      {% endif %}
    </tr>
  </table>
  Pages generated: {{ copies.paginator.num_pages }}
</div>
{% else %}
    <p class="sansserif" align="center">Oh no! No copies are available.</p>
{% endif %}
{% endif %}

{% endblock content %}
