{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="submitted_line" class = "submitted_line">
<p>You have submitted the following copy: </p>
</div>

<div id="editted_line">
<p class="sansserif" align="center">You have edited the following copy: </p>
</div>

    <p class="sansserif">
    	<table align = "center">
    		<tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr>
        <tr>
    			<td>Title</td>
   				<td>{{ selected_edition.title }}</td>
   			</tr>
        <tr>
    			<td>Edition</td>
   				<td>{{ selected_edition }}</td>
   			</tr>
    		<tr>
    			<td>Issue</td>
   				<td>{{ selected_copy.issue }}</td>
   			</tr>
        <tr>
    			<td>Thumbnail URL</td>
   				<td>{{ selected_copy.thumbnail_URL }}</td>
   			</tr>
   			<tr>
   				<td> NSC </td>
   				<td>{{ selected_copy.NSC }}</td>
   			</tr>
            <tr>
                <td> Owner </td>
                <td>{{ selected_copy.Owner }}</td>
            </tr>
            <tr>
                <td> Shelfmark </td>
                <td>{{ selected_copy.Shelfmark }}</td>
            </tr>
            <tr>
                <td> Height </td>
                <td>{{ selected_copy.Height }}</td>
            </tr>
            <tr>
                <td> Width </td>
                <td>{{ selected_copy.Width }}</td>
            </tr>
            <tr>
                <td> Marginalia </td>
                <td>{{ selected_copy.Marginalia }}</td>
            </tr>
            <tr>
                <td> Condition </td>
                <td>{{ selected_copy.Condition }}</td>
            </tr>
            <tr>
                <td> Binding </td>
                <td>{{ selected_copy.Binding }}</td>
            </tr>
            <tr>
                <td> Submitted by: </td>
                <td>{{ selected_copy.created_by }}</td>
            </tr>
        </table>
        </p>
</div>

<div>
<table>
<tr>
<td class = "table3">
  <a href="{% url 'edit_copy_submission' selected_copy.id %}" class="editbutton2" role="button">Edit</a>
</td>
<td class = "table3">
  <a href="{% url 'copy_success' %}" class="editbutton2" role="button">Confirm</a>
 </td>
 <td class="table3">
  <a href="{% url 'cancel_copy_submission' selected_copy.id %}" class="editbutton2" id="delete">Delete</a>
</td>
</tr>
</table>
</div>

<script>
var opener_url = document.referrer;
var delete_button = document.getElementById("delete");
var submitted_line=document.getElementById("submitted_line");
var editted_line=document.getElementById("editted_line");

if(opener_url.indexOf('editcopysubmission') > -1) {
  delete_button.classList.add("hidden");
  submitted_line.classList.add("hidden");
} else {
  editted_line.classList.add("hidden");
}
</script>

{% endblock content %}
