{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
.heading {
    font-family: "Century Gothic", AppleGothic, sans-serif;
    font-weight:lighter;
    font-size:20px;
    }


a.editbutton:visited {
    color: green;
}
a.editbutton:link {
    color: green;
}

a.editbutton:hover {
    color: white;
}
a{text-decoration: none }
}


a:link {
    color: white;
}

hr.style1 {
  color: #f00;
background-color: #FFFFFF;
height: 1px;
  border: 0;
  width: 80%;
}


.greeting {
    font-size: 30px;
    font-family:'Raleway', sans-serif;
    font-weight:300;
    text-align: center;
}
.inform {
    font-size: 15px;
    color:white;
    font-family: "Century Gothic", AppleGothic, sans-serif;
    font-weight:lighter;
    text-align: left;
}
tr.informtable :first-child{
    background-color: #a7c87b;
}
li a, .dropbtn {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #4CAF50
}
.active2 {
    background-color: #83cca5;
  }
</style>
<div class="wrapper">

<ul>
<li><a class="not.active" href="{% url 'homepage' %}"><p class="sansserif">
Home</p></a></li>
<li><a class="not.active" href="{% url 'index' %}"><p class="sansserif">
Titles</p></a></li>
<li><a class="active" href="{% url 'copy' %}"><p class="sansserif">
Copy</p></a></li>
<li><a class="not.active" href="{% url 'register' %}"><p class="sansserif">Register</p></a></li>
<li class="dropdown">
<a href=""  data-toggle="dropdown" role="button" aria-expanded="false">  <p class = sansserif>
Account</p></a>
<div class="dropdown-content">
  <a href="{% url 'profile' %}"><p class = sansserif>my profile</p></a>
  <a href="{% url 'user_history' %}"><p class = sansserif>my history</p></a>
  <a href="{% url 'login_user' %}"><p class = sansserif>login</p></a>
  <a href="{% url 'logout_user' %}"><p class = sansserif>logout</p></a>

</div>
</li>
</ul>
<br>
<br>
<br>

<div class = "heading">
Copy details:
</div>
<br>
    <p class="sansserif">
    	<table align = "center">
    		<tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr>
        <tr>
    			<td>Title</td>
   				<td>{{ selected_edition.title }}</td>
   			</tr>
        <tr>
    			<td>Edition</td>
   				<td>{{ selected_edition }}</td>
   			</tr>
    		<tr>
    			<td>Issue</td>
   				<td>{{ selected_copy.issue }}</td>
   			</tr>
        <tr>
    			<td>Thumbnail URL</td>
   				<td>{{ selected_copy.thumbnail_URL }}</td>
   			</tr>
   			<tr>
   				<td> NSC </td>
   				<td>{{ selected_copy.NSC }}</td>
   			</tr>
            <tr>
                <td> Owner </td>
                <td>{{ selected_copy.Owner }}</td>
            </tr>
            <tr>
                <td> Shelfmark </td>
                <td>{{ selected_copy.Shelfmark }}</td>
            </tr>
            <tr>
                <td> Height </td>
                <td>{{ selected_copy.Height }}</td>
            </tr>
            <tr>
                <td> Width </td>
                <td>{{ selected_copy.Width }}</td>
            </tr>
            <tr>
                <td> Marginalia </td>
                <td>{{ selected_copy.Marginalia }}</td>
            </tr>
            <tr>
                <td> Condition </td>
                <td>{{ selected_copy.Condition }}</td>
            </tr>
            <tr>
                <td> Binding </td>
                <td>{{ selected_copy.Binding }}</td>
            </tr>
            <tr>
                <td> Submitted by: </td>
                <td>{{ selected_copy.created_by }}</td>
            </tr>
        </table>
        </p>
</div>

{% endblock content %}
