{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
<link rel="stylesheet" type="text/css" href= "{% static 'census/detail.css' %}" />

<div class="wrapper">
<h3 align="center" width="90%">
	<a href= "{% url 'index' %}" >All titles</a> |
	<a href = "{% url 'index' %}?q={{ selected_edition.title }}" >{{selected_edition.title}}</a> |
	{% if selected_edition.Edition_number == "Anr. ed." %}
		{{ selected_edition.Edition_number }}
	{% else %}
		Edition {{ selected_edition.Edition_number }}
	{% endif %}
</h3>
<br>
</div>

<div class="wrapper">
<hr class = "style14" width = "50%"></hr>
	<p class="sansserifgrey">
	Displayed is the list of issues for the selected edition.
	</p>
	<p class="sansserifgrey">Click an issue to get the copy information.</p>
</div>
<hr class="style14" width = "50%"></hr>

{% for issue in all_issues %}
<div class="container">
	<h3 class = "center" align="left" style="margin-left:300px"><a href="#copy_info{{issue.id}}" onclick="show_copy_info({{issue.id}});"> Issue ESTC {{ issue.ESTC }} |
		STC/Wing {{ issue.STC_Wing}} ({{ issue.year }})</a></h3>

		<div id="copy_info{{issue.id}}" style="display:none">
{% if issue.copy_set.all %}
<h3 class = "center" align="left" style="margin-left:300px">Copy information: </h3>
	<table class = "center" align="center" width="90%">
		<tr>
			<th> Owner </th>
			<th> Shelfmark </th>
			<th> Copy notes </th>
			<th> Provenance information </th>
		</tr>

	{% for copy in issue.copy_set.all %}
	<tr>
		<td>{{copy.Owner}}</td>
		<td>
			{% if copy.Shelfmark %}
			{{ copy.Shelfmark }}
			{% else %}
			None
			{% endif %}
		</td>
		<td>
			{% if copy.copynote %}
				{{ copy.copynote }}
			{% else %}
				None
			{% endif %}
		</td>
		<td>
			{% if copy.prov_info %}
				{{ copy.prov_info }}
			{% else %}
				None
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	<p class = "center" align="left" style="margin-left:300px">There are no copies for this issue right now!</p>
{% endif %}
</div>
</div>
{% endfor %}
<script>
function show_copy_info(issue_id) {
	var div_id = "copy_info"+issue_id;
	var copy_div=document.getElementById(div_id);
	if(copy_div.style.display==="none") {
		copy_div.style.display = "block";
	} else {
		copy_div.style.display = "none";
	}
}
</script>

{% endblock content %}
