{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/detail.css' %}" />
<div class = "wrapper">

<ul>
<li><a class="not.active" href="{% url 'homepage' %}"><p class="sansserif">
Home</p></a></li>
<li><a class="active" href="{% url 'index' %}"><p class="sansserif">
Titles</p></a></li>
<li><a class="not.active" href="{% url 'copylist' %}"><p class="sansserif">
Copy</p></a></li>
<li>
    <a class="not.active" href="{% url 'submission' %}" class="dropbtn"><p class="sansserif">Submission</p></a>
</li>
{% if user.is_authenticated %}
  {% else %}
<li><a class="not.active" href="{% url 'register' %}"><p class="sansserif">
Register</p></a></li>
   {% endif %}

<li class="dropdown">
<a href="" data-toggle="dropdown" role="button" aria-expanded="false">  <p class = sansserif>
Account</p></a>
<div class="dropdown-content">
  <a href="{% url 'profile' %}"><p class = sansserif>my profile</p></a>
  <a href="{% url 'user_history' %}"><p class = sansserif>my history</p></a>
 {% if user.is_authenticated %}
<a href="{% url 'logout_user' %}"><p class = sansserif>logout</p></a>
  {% else %}
  <a href="{% url 'login_user' %}"><p class = sansserif>login</p></a>
   {% endif %}
</div>
</li>

</ul>

<hr class = "style14" width="50%"></hr>
	<p class="sansserifgrey">
	Displayed below are the editions for the selected title.<br> To access an edition's list of issues, click its edition number. 
	</p>
</div>
<hr class = "style14" width="50%"></hr>

{% if editions %}
<p class="sansserif">
      <table class = "center" align="center" width="90%">
        <tr>
        {% for edition in editions|slice:"1" %}
        <td colspan="6" class = "announcer"><a href = "{% url 'index' %}" class="linkbutton"> {{ edition.title }}</a>: <div class = "announcer2"> editions
        {% endfor %}</td>
        </tr>
        <tr>
          <th> Edition Number </th>
          <th> Edition Format </th>
        </tr>
    {% for edition in editions %}
   				<td><a href="{% url 'issue' edition.id %}" class ="linkbutton">{{ edition.Edition_number }}</a></td>
        	<td>{{ edition.Edition_format }}</td>
        	</tr>
    {% endfor %}
        </table>
    </p>
</div>

{% else %}
    <p class="sansserif" align="center">Oh no! No editions are available.</p>
{% endif %}
{% endblock content %}
