{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/detail.css' %}" />

<div class = "wrapper">
<hr class = "style14" width="50%"></hr>
	<p class="sansserifgrey">
	Displayed below are the editions for the selected title.<br> To access an edition's list of issues, click its edition number.
	</p>
</div>
<hr class = "style14" width="50%"></hr>

{% if editions %}
<p class="sansserif">
      <table class = "center" align="center" width="90%">
        <tr>
        {% for edition in editions|slice:"1" %}
        <td colspan="6" class = "announcer"><a href = "{% url 'index' %}" class="linkbutton"> {{ edition.title }}</a>: <div class = "announcer2"> editions
        {% endfor %}</td>
        </tr>
        <tr>
          <th> Edition Number </th>
          <th> Edition Format </th>
        </tr>
    {% for edition in editions %}
   				<td><a href="{% url 'issue' edition.id %}" class ="linkbutton">{{ edition.Edition_number }}</a></td>
        	<td>{{ edition.Edition_format }}</td>
        	</tr>
    {% endfor %}
        </table>
    </p>
</div>

{% else %}
    <p class="sansserif" align="center">Oh no! No editions are available.</p>
{% endif %}
{% endblock content %}
