<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load static %}
{% block content %}
<script type="text/javascript" src="/static/census/edit_dropdown.js"></script>
<script type="text/javascript" src="/static/census/edit_popup_script.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'census/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'census/submission.css' %}" />

{% if messages %}
<ul class="errorlist">
    {% for message in messages %}
    <p class="sansserif" style="position:relative; color:#b91f44; text-align:center;">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'edit_title_submission' title_id %}" method="post" accept-charset="utf-8" style="margin-left:20px">
<div>
  <center><p style="font-size:25; font-weight: lighter;">1. select a title</p></center>
  <table class = 'center'>
  <tr>
  <td>
  <select name="title" id="title" class ="submissionselect">
  </select>
  </td>
  <td>
  <a href="{% url 'add_title' %}" name="add another title" onclick="return showAddAnotherPopup(this);" class= "copysubmission">add title+</a>
  </td>
  </tr>
  </table>
</div>


<div class='copy_section' id='copy_section'>
<center><p style="font-size:25; font-weight: lighter;">4. fill in the information about the copy</p></center>	  <table class = "table2" align="center">
</div>
<br>
<div class="my-button">
	<input type="submit" name="submit" value="Submit" class="finalsubmit" id="copy_submit" />
</div>
</form>

{% endblock content %}
