<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="sansserif" align="left" class="modal-title">Edit Copy:</p>
    </div>
    <div class="modal-body">
        <script type="text/javascript" src="/static/census/edit_dropdown.js"></script>
        <script type="text/javascript" src="/static/census/edit_popup_script.js"></script>
        <form class="editForm"  action="{% url 'update_copy' copy_id %}" method="post" accept-charset="utf-8" style="margin-left:20px">
        	{% csrf_token %}
          <div>
            <p>Select a title</p>
            <select name="title" id="title" class="submissionselect2">
          		<option value="Z">Select a title</option>
            {% for title in all_titles %}
          		{% if title.id == old_title_id %}
          			<option value="{{ title.id }}" selected>{{ title.title }}</option>
          		{% else %}
              	<option value="{{ title.id }}">{{ title.title }}</option>
          		{% endif %}
            {% endfor %}
            </select> 
            <button class="editmodalsubmission"><a href="{% url 'add_title' %}" style="z-index:-1;" name="add another title" onclick="return showAddAnotherPopup(this);">Add title+</a></button>

          </div>

          <div class='edition_section' id ='edition_section'>
            <p>Select an edition</p>
            <select name="edition" id="edition" class="submissionselect3">
          		<option value="Z">Select an edition</option>
          	  {% for edition in old_edition_set %}
          			{% if edition.id == old_edition_id %}
          				<option value="{{ edition.id }}" selected>Edition {{ edition.Edition_number }}</option>
          			{% else %}
          	    	<option value="{{ edition.id }}">Edition {{ edition.Edition_number }}</option>
          			{% endif %}
          	  {% endfor %}
            </select>
            <button class="editmodalsubmission"><a href="{% url 'add_edition' old_title_id %}" id="add_edition" name ="add another edition" onclick="return showAddAnotherPopup(this);">Add edition+</a></button>
          </div>

          <div class='issue_section' id='issue_section'>
            <p>Select an issue</p>
            <select name="issue" id="issue" class="submissionselect3">
          		<option value="Z">Select an issue</option>
          		{% for issue in old_issue_set %}
          			{% if issue.id == old_issue_id %}
          				<option value="{{ issue.id }}" selected>Issue {{ issue.STC_Wing }}</option>
          			{% else %}
          				<option value="{{ issue.id }}">Issue {{ issue.STC_Wing }}</option>
          			{% endif %}
          		{% endfor %}
          	</select>
            </select>
            <button class="editmodalsubmission"><a href="{% url 'add_issue' old_edition_id %}" id="add_issue" name ="add another issue" onclick="return showAddAnotherPopup(this);">Add issue+</a></button>

          </div>

          <div class='copy_section' id='copy_section'>
          	<p>Fill in the information about the copy</p>
          	{{ copy_form.as_p }}
          </div>

        <div class="modal-footer">
          <a href="#" data-toggle="modal" class="btn btn-primary" onclick="generateDialog({{copy_id}});">Save</a>
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
</form>

{% if copy_form.errors %}
    <script>
    $(function() {
      $('#editModal').modal('show');
    });
    </script>
{% endif %}
</div>
</div>
</div>
