{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <script type="text/javascript" src="/static/census/copy_detail_edit_modal.js"></script>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/bootstrapbuttons.css' %}" />

<hr class = "style14" width = "50%"></hr>

<div class="wrapper">
<table class="center" align="center" width="90%">
<tr>
<td colspan="6" class="announcer">
  <div class = "announcer2"> Verify copies:</div>
</td>
</tr>
<tr>
  <td>
  	<p>Thank you for supporting the Shakespeare Census!</P>
    <p>We have {{ copyCount }} copies at {{ affiliation }} waiting to be verified. </p>
    <p>Click here to begin:</p>
  </td>
</tr>
<tr>
  <td>
    <br>
    <a href="{% url 'librarian_validate1' %}" class="btn btn-success">Verify copies</a>
  </td>
</tr>
</table>

<table class="center" align="center" width="90%">
<tr>
<td colspan="6" class="announcer">
  <div class = "announcer2"> Edit copy details:</div>
</td>
</tr>
<tr>
  <td>
    <p>(Your verified copies will appear here once confirmed by an administrator.) </p>
    <p>You can edit the data associated with the verified copies at {{ affiliation }} by clicking here:</p>
  </td>
</tr>
<tr>
  <td>
    <br>
    <a href="{% url 'librarian_validate2' %}" class="btn btn-success">Edit copy details</a>
  </td>
</tr>
</table>

<table class="center" align="center" width="90%">
<tr>
<td colspan="6" class="announcer">
  <div class = "announcer2"> Submit other copies:</div>
</td>
</tr>
<tr>
  <td>
  	If {{ affiliation }} holds a copy that is not in our database but should be, you can add it here.
  </td>
</tr>
<tr>
  <td>
    <br>
    <a href="{% url 'submission' %}" class="btn btn-success">Submit new copy</a>
  </td>
</tr>
</table>
</div>

{% endblock content %}
