{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <script type="text/javascript" src="/static/census/copy_detail_edit_modal.js"></script>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/bootstrapbuttons.css' %}" />

<div id="copyModal" class="modal fade" role="dialog"></div>
<hr class = "style14" width = "50%"></hr>
	<p class="sansserifgrey" align="center">
	Here is a list of the copies we think your affiliation holds.</p>
  <p class="sansserifgrey" align="center">Do you actually hold these copies?</p>
</div>
<hr class="style14" width = "50%"></hr>

<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <tbody>
    <tr>
      <th>Copies in {{ affiliation }}</th>
      <th>Held by library?</th>

    </tr>
	{% if copies %}
	{% for copy in copies %}
		<tr>
			<td>{{ copy }}
        <a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
          more details...</a>
        </td>
        {% if copy.librarian_validated %}
        <td>Validated</td>
        {% else %}
          {% if copy.children.all %}
          {% for child_copy in copy.children.all %}
           <td>
             {% if child_copy.held_by_library %}
             <button class="btn btn-primary">Yes</button>
             <button class="btn btn-default" onclick="toggleState({{ child_copy.id }});">No</button>
             {% else %}
             <button class="btn btn-default" onclick="toggleState({{ child_copy.id }});">Yes</button>
             <button class="btn btn-primary">No</button>
             {% endif %}
           </td>
          {% endfor %}
          {% else %}
        <td id='validate {{ copy.id }}'> <button class="btn btn-default" onclick="holdCopy({{ copy.id }});">Yes</button>
        <button class="btn btn-default" onclick="notHoldCopy({{ copy.id }});">No</button> </td>
          {% endif %}
          {% endif %}
		</tr>

  {% endfor %}
  {% endif %}
  </tbody>
</table>
<br>
<a href="{% url 'librarian_validate2' %}" class="finalsubmit">Continue to validate copy details</a>

<script>
function holdCopy(copy_id) {
  var req = new XMLHttpRequest();
  var url = 'validate_hold/' + copy_id;
  req.open('GET', url, false);
  req.setRequestHeader('Content-Type', 'application/json');
  req.send();
  var res = JSON.parse(req.responseText);
  if (res === "success") {
    window.location.reload();
  }
}

function notHoldCopy(copy_id) {
  var req = new XMLHttpRequest();
  var url = 'validate_not_hold/' + copy_id;
  req.open('GET', url, false);
  req.setRequestHeader('Content-Type', 'application/json');
  req.send();
  var res = JSON.parse(req.responseText);
  if (res === "success") {
    window.location.reload();
  }
}

function toggleState(childcopyid){
  var req = new XMLHttpRequest();
  var url = 'change_hold_status/' + childcopyid;
  req.open('GET', url, false);
  req.setRequestHeader('Content-Type', 'application/json');
  req.send();
  var res = JSON.parse(req.responseText);
  if (res === "success") {
      window.location.reload();
    }
  }
</script>
{% endblock content %}
