{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff9966
  /*background-color: #2196F3;*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.on  { background:blue; }
.off { background:red; }
</style>


<div>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <script type="text/javascript" src="/static/census/copy_detail_edit_modal.js"></script>

<!-- models -->
<div id="copyModal" class="modal fade" role="dialog"></div>
<div id="editModal" class="modal fade" role="dialog"></div>
<div id="editChildModal" class="modal fade" role="dialog"></div>

<hr class = "style14" width = "50%"></hr>
	<p class="sansserifgrey" align="center">
	You have validated the following copies.</p>
  <p class="sansserifgrey" align="center">
  Please click details to see if anything needs to be edited.</p>
</div>
<hr class="style14" width = "50%"></hr>

<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <tbody>
    <tr>
      <th>Copy</th>
      <th>Held by library?</th>
      <th>Librarian validation</th>
      <th></th>
    </tr>
	{% if child_copies %}
	{% for copy in child_copies %}

		<tr>
			<td>{{ copy }}
        <a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">
          more details...</a></td>
      </td>

        <td>
        <label class="switch">
          {% if copy.held_by_library %}
          <input type="checkbox" onclick="toggleState({{ copy.id }});" checked>
          {% else %}
          <input type="checkbox" onclick="toggleState({{ copy.id }});">
          {% endif %}
          <span class="slider round"></span>
        </label>
      </td>

        <td id="validate {{ copy.id }}">
          {% if copy.librarian_validated %}
          Yes
          {% else %}
           <button onclick="libValidate({{ copy.id }});">Validate</button>
          {% endif %}
        </td>

      <td>
        <a class="update_child_copy" href="#" data-form="{% url 'update_child_copy' copy.id %}" title="Edit">Edit</a>
      </td>
		</tr>

  {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>
<script>
function libValidate(copy_id) {
  var req = new XMLHttpRequest();
  var url = 'librarian_validate/' + copy_id;
  req.open('GET', url, false);
  req.setRequestHeader('Content-Type', 'application/json');
  req.send();
  var res = JSON.parse(req.responseText);
  if (res === "success") {
    window.location.reload();
  }
}

function toggleState(childcopyid){
  var req = new XMLHttpRequest();
  var url = 'change_hold_status/' + childcopyid;
  req.open('GET', url, false);
  req.setRequestHeader('Content-Type', 'application/json');
  req.send();
  var res = JSON.parse(req.responseText);
  if (res === "success") {
    }
  }
</script>

{% endblock content %}
