{% load static %}

<html>
<title>Shakespeare Census</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= "{% static 'census/login.css' %}" />
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'>


<head>
<div id = "submitz" style="text-align:center; overflow:hidden;">
<div class = "div1" style="display:inline-block;"><p class = "title" style="text-align:center;"><a href="{% url 'index' %}" class="linkbutton" style="float:left;">shakespeare census</a></p><div class="popuparrow"><i class="angle double right icon"></i></div></div></div>

</head>

<body>
  <div class = "wrapper">
<ul>
<li><div id = "unhidebutton"><p class = sansserif><a class="not.active" href="{% url 'homepage' %}">search</a></div></p></li>
<li><a class="not.active" href="{% url 'submission' %}"><p class = sansserif>submit</p></a></li>
{% if user.is_authenticated %}
<li class="dropdown">
<a href="" class="dropbtn" data-toggle="dropdown" role="button" aria-expanded="false">  <p class = sansserif>
account</p></a>
<div class="dropdown-content">
  <a href="{% url 'profile' %}"><p class = sansserif>my profile</p></a>
  <a href="{% url 'user_history' %}"><p class = sansserif>my history</p></a>
</div>
</li>
{% endif %}
</ul>
</div>

<br>
    <div class="main-content">
        {% if failed == True %}
        <center><p class="sansserif">We could not find your account.<br> <font size= "2">Perhaps you've mistyped your username/password?</font></p></center>
        {% endif %}
    <div class="content-form">
        {% if next %}
          <form id="login_form" method="post" action="/login/?next={{next}}">
        {% else %}
          <form id="login_form" method="post" action="/login">
        {% endif %}
                {% csrf_token %}
                <center>&nbsp;</center>
                <table class = "center2">

                    <tr height ="40">
                    <td class = "special"><input type="text" name="username" placeholder="username" value="" size="30" style="height:40px;" /></td>
                    </tr>
                    <tr  height="40">
                    <td class = "table2"><input type="password" name="password" placeholder="password" value="" size="30" style="height:40px;"/></td>
                    </tr>
                </table>
               <hr class="style1"></hr>

<!--                     <th><a href="\UpennWSK/user/password_reset">Password Reset?</a></th>
 -->               <center>
                    <div id = "submitz"><input type="submit" value="login" class="login" />
                           <!-- <div class="reset">
                           <p class="sansserif" align="center"><a href="{% url 'password_reset' %}" class="linkbutton">reset password</p>
                           </div> -->
                    </div>
                    <input type="hidden" name="next" value={{next}}>

            </form>
    </div>
    </div>
