{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
.forgotpassannouncer {
    font-family: "Century Gothic", AppleGothic, sans-serif;
    position:relative;
    margin-top:100px;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
}
.forgotpassannouncer2 {
    font-family: "Century Gothic", AppleGothic, sans-serif;
    font-size:15px;
    font-weight:lighter;
    text-align:center;
}
.newlogin:hover {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: #a7c87b;
}

.newlogin {
  border : none;
  position:relative;
  display:block;
  text-align:center;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  margin:0 auto;
  width:300px;
  padding:10px 30px;
  height:20px;
  font-size:15px;
  color: #FFFFFF;
  background: #8FBC8F;
  font-family: "Century Gothic", AppleGothic, sans-serif;
}

</style>

<div class="forgotpassannouncer">
Password reset complete.</div>
<br>
    <div class="forgotpassannouncer2">Your new password has been set.</div>
   	<br>
   	<br>
   	<br>
<a href="/login/" class="newlogin">log in</a>

{% endblock content %}
