{% block content %}
{% load static %}

<style>
.forgotpassannouncer {
	font-family: "Century Gothic", AppleGothic, sans-serif;
	font-size:40px;
	font-weight:bolder;
	text-align:center;
}
.forgotpassannouncer2 {
	font-family: "Century Gothic", AppleGothic, sans-serif;
	font-size:20px;
	font-weight:lighter;
	text-align:center;
}
</style>
<div class = forgotpassannouncer>
Uh, oh.
</div>
<div class = forgotpassannouncer2>

Forgot your password?
<br>
We'll help you make a new one.
</div>


<form action="" method="post">	
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {{ form.email.errors }}
    <p class= sansserif><label for="id_email">E-mail address:</p></label><br>{{ form.email }}<br> <input type="submit" value="Reset password" />
</form>

{% endblock %}
