{% extends "base.html" %}
{% load staticfiles %}

{% block content%}
<style>
.forgotpassannouncer {
	font-family: "Century Gothic", AppleGothic, sans-serif;
	position:relative;
	margin-top:100px;
	font-size:30px;
	font-weight:bolder;
	text-align:center;
}
.forgotpassannouncer2 {
	font-family: "Century Gothic", AppleGothic, sans-serif;
	font-size:15px;
	font-weight:lighter;
	text-align:center;
}
</style>

   <div class ="forgotpassannouncer">Password reset successful.</div>
   <br> <div class="forgotpassannouncer2"> We've e-mailed you instructions for setting your <br>password to the e-mail address you submitted. <br><br>You should be receiving it shortly.</div>
{% endblock content %}
