<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'census/style.css' %}" />
<html>
<body>
<div class="wrapper">

<ul>
<li><a class="not.active" href="http://localhost:8000/"><p class="sansserif">
Titles</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/editions"><p class="sansserif">
Editions</p></a></li>
<li><a class="active" href="http://localhost:8000/census/provenance"><p class="sansserif">
Provenance</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/copy"><p class="sansserif">
Copy</p></a></li>


<li class="dropdown">
    <a class="not.active" href="http://localhost:8000/census/submission" class="dropbtn"><p class="sansserif">Submission</p></a>
    <div class="dropdown-content">
        <a href="http://localhost:8000/census/submission" class="not.active"><p class="sansserif">Titles</p></a>
        <a href="http://localhost:8000/census/submissionedition"><p class="sansserif">Editions</p></a>
        <a href="http://localhost:8000/census/submissioncopy"><p class="sansserif">Copies</p></a>
    </div>
</li>

<li><a class="not.active" href="http://localhost:8000/census/register"><p class="sansserif">Register</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/login"><p class="sansserif">Login</p></a></li>

</ul>


<hr width = "30%"></hr>
	<p class="sansserifgrey">
	This is an interesting sentence. <br>We'll be describing the content of this page with this sentence. This sentence will be very informative. </br> Hopefully, people actually read this sentence.
	</p>
</div>
<hr width = "30%"></hr>
<br>
<br>
<div class="newspaper">
{% if provenances %}
    {% for provenance in provenances %}
    <p class="sansserif">
    	<table class = "center">
    		<tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr>
            <tr>
                <td>Copy</td>
                <td>{{ provenance.copy}}</td>
            </tr>
    		<tr>
    			<td>Name</td>
   				<td>{{ provenance.name }}</td>
   			</tr>

   			<tr>
   				<td> Bio </td>
   				<td>{{ provenance.bio }}</td>
   			</tr>
        </table>
    </p>
    {% endfor %}

</div>
</div>
{% else %}
    <p class="sansserif" align="center">Oh no! No provenances are available.</p>
{% endif %}
</body>
</html>
