{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/register.css' %}" />

<div class="wrapper">

<ul>
<li><a class="not.active" href="{% url 'homepage' %}"><p class="sansserif">
Home</p></a></li>
<li><a class="not.active" href="{% url 'index' %}"><p class="sansserif">
Titles</p></a></li>
<li><a class="not.active" href="{% url 'copylist' %}"><p class="sansserif">
Copy</p></a></li>
<li><a class="not.active" href="{% url 'submission' %}"><p class="sansserif">Submission</p></a>
</li>
<li><a class="active" href="{% url 'register' %}"><p class="sansserif">
Register</p></a></li>

<li class="dropdown">
<a href="" data-toggle="dropdown" role="button" aria-expanded="false">  <p class = sansserif>
Account</p></a>
<div class="dropdown-content">
  <a href="{% url 'profile' %}"><p class = sansserif>my profile</p></a>
  <a href="{% url 'user_history' %}"><p class = sansserif>my history</p></a>
 {% if user.is_authenticated %}
<a href="{% url 'logout_user' %}"><p class = sansserif>logout</p></a>
  {% else %}
  <a href="{% url 'login_user' %}"><p class = sansserif>login</p></a>
   {% endif %}
</div>
</li>

  </ul>

<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey">
	Welcome to Shakespeare Census. </br> Please register below.
	</p>
</div>
<hr class="style14" width = "50%"></hr>

		<div id="bodycontent">
		<form id="user_form" method="post" action="/census/register">
				{% csrf_token %}
			{% if user_form.errors %} <p class= "sansserif"> Please correct the error{{ user_form.errors|pluralize }} below. </p> {% endif %}
				<table class="registertable" align='center'>
				    <tr>
				    <td>Username: </td>
				    <td> {{ user_form.username }}</td>
				    </tr>
				    <tr>
				    <td>First name: </td>
				    <td> {{ user_form.first_name }}</td>
				    </tr>
				    <tr>
				    <td>Last name:</td>
				    <td>{{ user_form.last_name }}</td>
				    </tr>
				    <tr>
				    <td>Email:</td>
				    <td>{{ user_form.email }}</td>
				    </tr>
				    <tr>
				    <td>Password:</td>
				    <td>{{ user_form.password1 }}</td>
				    </tr>
				    <tr>
				    <td>Password (retype):</td>
				    <td>{{ user_form.password2 }}</td>
				    </tr>
				    </table>
<br>
				<input type="submit" class = "finalsubmit" name="submit" value="Register"/>
			</p>
		</form>
	</div>

{% endblock content %}
