{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0); 

}
</style>
<div class="wrapper">

<ul>
<li><a class="not.active" href="http://localhost:8000/"><p class="sansserif">
Home</p></a></li>
<li><a class="not.active" href="http://localhost:8000/titles"><p class="sansserif">
Titles</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/copy"><p class="sansserif">
Copy</p></a></li>


<li>    <a class="not.active" href="http://localhost:8000/census/submission" class="dropbtn"><p class="sansserif">Submission</p></a>
    
</li>

<li><a class="active" href="http://localhost:8000/census/register"><p class="sansserif">Register</p></a></li>

</ul>

<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey">
	Welcome to Shakespeare Census. </br> Please register below.
	</p>
</div>
<hr class="style14" width = "50%"></hr>

		<div id="bodycontent">
		<p class="errors sansserif">
		<form id="user_form" method="post" action="/census/register">
				{% csrf_token %}
			{% if user_form.errors %}  Please correct the error{{ user_form.errors|pluralize }} below. </p> {% endif %}
				{{ user_form.as_p }}
				<input type="submit" name="submit" value="Register"/>
			</p>
		</form>
	</div>

{% endblock content %}
