{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/register.css' %}" />

<div class="wrapper">

<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey">
	Welcome to Shakespeare Census. </br> Please register below.
	</p>
</div>
<hr class="style14" width = "50%"></hr>

		<div id="bodycontent">
		<form id="user_form" method="post" action="{% url 'register' %}">
				{% csrf_token %}
			{% if user_form.errors %} 
			<p class= "sansserif" align="center"> <b>There were some errors in your registration information.<br> Please correct the following:<b></p>
			<hr class = "style14" width="20%">
			<table class="errors" align="center">
			{% for field in user_form %}
			{% if field.errors %}<tr class="errors"><td> <b><center>{{ field.label }}:</b> {{ field.errors|striptags }}</center></td> </tr> {% endif %}
			{% endfor %}
			</table>
			<hr class = "style14" width="20%">
			{% endif %}
				<table class="registertable" align='center'>
				    <tr>
				    <td>Username: </td>
				    <td> {{ user_form.username }}</td>
				    </tr>
				    <tr>
				    <td>First name: </td>
				    <td> {{ user_form.first_name }}</td>
				    </tr>
				    <tr>
				    <td>Last name:</td>
				    <td>{{ user_form.last_name }}</td>
				    </tr>
				    <tr>
				    <td>Email:</td>
				    <td>{{ user_form.email }}</td>
				    </tr>
				    <tr>
				    <td>Password:</td>
				    <td>{{ user_form.password1 }}</td>
				    </tr>
				    <tr>
				    <td>Password (retype):</td>
				    <td>{{ user_form.password2 }}</td>
				    </tr>
				    </table>
			
			
<br>
				<input type="submit" class = "finalsubmit" name="submit" value="Register"/>
			</p>
		</form>
	</div>

{% endblock content %}
