<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% extends "base.html" %}
{% load static %}
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% block content %}
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="/static/census/dropdown.js"></script>
<script type="text/javascript" src="/static/census/popup_script.js"></script>

<form action="{% url 'submission' %}" method="post" style="margin-left:20px">
	{% csrf_token %}
	{{ copy_form.media.js }}

<div id="title_section">
	<h3>Select or add {{ title.name }} </h3>
	{{ title.label_tag }} {{ title }}
	<button class="btn btn-info"><a href="{% url 'add_title' %}" name="add another title" onclick="return showAddAnotherPopup(this);">Add title+</a></button>
	<hr>
</div>

<div id="edition_section" style="display:none">
	<h3>Select or add {{ edition.name }} </h3>
	{{ edition.label_tag }} {{ edition }}
	<button class="btn btn-info"><a href="#" id="add_edition" name ="add another edition" onclick="return showAddAnotherPopup(this);">Add edition+</a></button>
	<hr>
</div>

<div id="issue_section" style="display:none">
	<h3>Select or add {{ issue.name }} </h3>
	{{ issue.label_tag }} {{ issue }}
	<button class="btn btn-info"><a href="#" id="add_issue" name ="add another issue" onclick="return showAddAnotherPopup(this);">Add issue+</a></button>
	<hr>
</div>

<div id="copy_section" style="display:none">
	<h3>Fill in the following information:</h3>
  {% for field in copy_form.visible_fields %}
		{% if field.name != "title" and field.name != "edition" and field.name != "issue" %}
			<p>{{ field.label_tag }} {{ field }}</p>
		{% endif %}
  {% endfor %}
</div>

<div class="my-button">
	<input type="submit" name="submit" value="Submit" class="copy_submit" id="copy_submit" style="display:none"/>
</div>
</form>

{% endblock content %}
