<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
	.hidden {
		display: none;
	}
</style>

<form action="" method="get" accept-charset="utf-8" style="margin-left:20px">
<div>
  <p>Select a title</p>
  <select name="title" id="title">
  <option value="Z">Select a title</option>
  {% for title in all_titles %}
    <option value="{{ title.id }}">{{ title.title }}</option>
  {% endfor %}
  </select>
  <button class="btn btn-info"><a href="{% url 'addTitle' %}" target="_blank">Add title+</a></button>
</div>

<div class='edition_section' style='display:none'>
  <p>Select an edition</p>
  <select name="edition" id="edition">
  <option>Select an edition</option>
  </select>
  <button class="btn btn-info"><a href="#" target="_blank" id="add_edition">Add edition+</a></button>
</div>

<div class='issue_section' style='display:none'>
  <p>Select an issue</p>
  <select name="issue" id="issue">
  <option>Select an issue</option>
  </select>
  <button class="btn btn-info"><a href="#" target="_blank" id="add_issue">Add issue+</a></button>
</div>


</form>


<script type="text/javascript">
$(document).ready(function() {
  $("select#title").change(function() {
    if ($(this).val() == 'Z') {
      $('.edition_section').attr('style', 'display:none');
    }
    else {
      $('.edition_section').attr('style', 'display:inline');
      var title = $(this).val();
      var new_url = "/census/addEdition/" + $(this).val() + "/";
      $('#add_edition').attr('href', new_url);
      var url = "/census/title/" + $(this).val() + "/";
      $.getJSON(url, function(editions) {
        var options = '<option value="Z">Select an edition</option>';
        for (var i = 0; i < editions.length; i++) {
          options += '<option value="' + editions[i]['id'] + '">Edition ' + editions[i]['Edition_number'] + '</option>';
        }
        $("select#edition").html(options);
        $("select#edition option:first").attr('selected', 'selected');
      });
    }
  });

  $("select#edition").change(function(vent) {
    if ($(this).val() == 'Z') {
      $('.issue_section').attr('style', 'display:none');
    }
    else {
      $('.issue_section').attr('style', 'display:inline');
      var edition = $(this).val();
      var new_url = "/census/addIssue/" + $(this).val() + "/";
      $('#add_issue').attr('href', new_url);
      var url = "/census/edition/" + $(this).val() + "/";
      $.getJSON(url, function(issues) {
        var options = '<option value="Z">Select an issue</option>';
        for (var i = 0; i < issues.length; i++) {
          options += '<option value="' + issues[i]['id'] + '">Issue ' + issues[i]['STC_Wing'] + '</option>';
        }
        $("select#issue").html(options);
        $("select#issue option:first").attr('selected', 'selected');
      });
    }
  });


});

</script>
{% endblock content %}
