{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<p><i class="fa fa-caret-down" aria-hidden="true" onclick="toggleEditions({{title.id}});"></i>{{title.title}} </p>

  <div id="editions {{title.id}}" class="hidden">
    {% for edition in title.edition_set.all %}
    <p>{{ edition.Edition_number }}</p>
    {% endfor %}
  </div>
</div>


<!-- <div class="container">
<div class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown">{{title.title}}<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
  {% for edition in title.edition_set.all %}
  <li role="presentation"><a role="menuitem" href="#">{{ edition.Edition_number }}</a></li>
  {% endfor %}
</ul>
</div>
</div> -->
<script>
function toggleEditions(title_id) {
  var editions_div_id = "editions " + title_id;
  var editions_div = document.getElementById(editions_div_id);
  if (editions_div.classList.contains("hidden")) {
    editions_div.classList.remove("hidden");
  } else {
    editions_div.classList.add("hidden");
  }
}
</script>

{% endblock content %}
