{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #d3d1d1, #f0f0f0); 

}
</style>
<div class="wrapper">

<ul>
<li><a class="not.active" href="http://localhost:8000/"><p class="sansserif">
Home</p></a></li>
<li><a class="not.active" href="http://localhost:8000/titles"><p class="sansserif">
Titles</p></a></li>
<li><a class="active" href="http://localhost:8000/census/copy"><p class="sansserif">
Copy</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/register"><p class="sansserif">Register</p></a></li>
<li class="dropdown">
<a href="" class="dropbtn" data-toggle="dropdown" role="button" aria-expanded="false">  <p class = sansserif>
Account</p></a>
<div class="dropdown-content">
  <a href="http://localhost:8000/census/profile" class="active2"><p class = sansserif>my profile</p></a>
  <a href="http://localhost:8000/census/user_history"><p class = sansserif>my history</p></a>
  <a href="http://localhost:8000/census/login"><p class = sansserif>login</p></a>
  <a href="http://localhost:8000/census/logout"><p class = sansserif>logout</p></a>

</div>
</li>
</ul>


<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey">
	This is an interesting sentence. <br>We'll be describing the content of this page with this sentence. This sentence will be very informative. </br> Hopefully, people actually read this sentence.
	</p>
</div>
<hr class="style14" width = "50%"></hr>
<br>
<br>
<div class="newspaper">
{% if transactions %}
    {% for transaction in transactions %}
    <p class="sansserif">
    	<table class = "center">
    		<!-- <tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr> -->
    		<tr>
    			<td>Seller </td>
   				<td>{{ transaction.seller }}</td>
   			</tr>

   			<tr>
   				<td> New owner: </td>
   				<td>{{ transaction.owner }}</td>
   			</tr>

        <tr>
   				<td> Data: </td>
   				<td>{{ transaction.data_transaction }}</td>
   			</tr>

        <tr>
   				<td> Date: </td>
   				<td>{{ transaction.date }}</td>
   			</tr>

        <tr>
   				<td> Price: </td>
   				<td>${{ transaction.price }}</td>
   			</tr>
        </table>
    </p>
    {% endfor %}

</div>
</div>
{% else %}
    <p class="sansserif" align="center">Oh no! No transactions are available.</p>
{% endif %}
</body>
</html>
{% endblock content %}
