<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="" method="get" accept-charset="utf-8" style="margin-left:20px">
<div>
  <p>Select a title</p>
  <select name="title" id="title">
  <option value="Z">Select a title</option>
  {% for title in all_titles %}
    <option value="{{ title.id }}">{{ title.title }}</option>
  {% endfor %}
  </select>
  <button class="btn btn-info"><a href="/census/addTitle">Add title+</a></button>
</div>

<div class='edition_section' style='display:none'>
  <p>Select an edition</p>
  <select name="edition" id="edition">
  <option>Select an edition</option>
  </select>
  <button class="btn btn-info" id="add_edition">Add edition+</button>
</div>
</form>


<script type="text/javascript">
$(document).ready(function() {
  $("select#title").change(function() {
    if ($(this).val() == 'Z') {
      $('.edition_section').attr('style', 'display:none');
    }
    else {
      $('.edition_section').attr('style', 'display:inline');
      var url = "/census/title/" + $(this).val() + "/";
      var title = $(this).val();
      $.getJSON(url, function(editions) {
        var options = '<option value="Z">Select an edition</option>';
        for (var i = 0; i < editions.length; i++) {
          options += '<option value="' + editions[i]['id'] + '">Edition ' + editions[i]['Edition_number'] + '</option>';
        }
        $("select#edition").html(options);
        $("select#edition option:first").attr('selected', 'selected');
      });

      $("button#add_edition").click(function(){
        $.post({
          url : "/census/addEdition/" + $(this).val() + "/",
          datatype : "html",
          success: function(data, status, xhr) { }
        });


      });


    }
  });

// $("select#edition").change(function(vent) {
//   if ($(this).val() == -1) {
//     return;
//   }
//   myFunctionToCallWhenAModelIsSelected();
//   });
});


</script>
{% endblock content %}
