{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
a.editbutton {text-decoration: none !important;}
</style>
<br>
<br>
<div>
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />



<div class = "history">Your contributions: </div>
<br>
<br>
<div class="container">
<table class="table table-striped" align="center" style="width:70%">
	<thead>
    <tr>
		 <th colspan=4>Copies you have submitted</th>
	  </tr>
  <tbody>
	{% if submissions %}
	{% for copy in submissions %}
		<tr>
			<td>{{ copy }}<td>
        <td> <a data-toggle="modal" data-target="#copyModal" role="button" class="editbutton">Details</td>
          {% include "census/copy_modal.html" %}

			<td><a href="{% url 'edit_copy_submission' copy.id %}" class="editbutton" role="button" onclick="return popup(this);">Edit</a></td>
		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td>None, so far! Click <a href="{% url 'submission' %}" class="editbutton" role="button">here</a> to submit some.<td>
		</tr>
	{% endif %}
  </tbody>
</table>
<div class="pagination">
    <table class = "pagenavigator" align="center">
    <tr class ="pagenavigator">
      {% if submissions.has_previous %}
      <td class = "hoverspecial"> <a href="?page={{ submissions.previous_page_number }}"><</a></td>
      {% endif %}

    {% for page in submissions.paginator.page_range %}
      {% if page <= submissions.number|add:"3" %}
        {% if page >= submissions.number|add:"-3" %}
        {% if page == submissions.number %}
          <td class = "currentpage" width="20px">{{ page }}</td>
        {% else %}
          <td class="pagenavigator" width="20px"> <a href = "?page={{ page }}">{{ page }}</td> 
        {% endif %}
        {% endif %}
      
      {% endif %}
    {% endfor %}

      {% if submissions.has_next %}
       <td class = "hoverspecial">  <a href="?page={{ submissions.next_page_number }}">></a></td>
      {% endif %}
    </tr>
  </table>
  Pages generated: {{ submissions.paginator.num_pages }}
</div>

<br>
<br>

<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <thead>
  <tr class="spaceUnder">
		<th colspan=4>Copies you have edited</th>
	</tr>
</thead>
<tbody>
	{% if editted_copies %}
	{% for copy in editted_copies %}
		<tr>
			<td>{{ copy }}<td>
        <td> <a data-target="#copyModal" role="button" class="editbutton" data-toggle="modal">Details</td>
          {% include "census/copy_modal.html" %}

          <td><a href="{% url 'edit_copy_submission' copy.id %}" class="editbutton" role="button" onclick="return popup(this);">Edit</a></td>

    </tr>
	{% endfor %}
	{% else %}
		<tr class="spaceUnder">
			<td>None, so far!<td>
		</tr>
	{% endif %}
</tbody>
</table>
</div>
</div>

<script>
function popup(triggeringLink) {
  var href = triggeringLink.href;
  var name = triggeringLink.name;
  var new_win = window.open(href, name, "height=800,width=1000,left=300,top=200,resizable=yes,scrollbars=yes");
  new_win.focus();
  return false;
}
</script>
{% endblock content %}
