{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<div>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />

<div class = "history">Your contributions: </div>
<br>
<br>
<div class="container">
<table class="table table-striped" align="center" style="width:70%">
	<thead>
    <tr>
		 <th colspan=4>Copies you have submitted</th>
	  </tr>
  <tbody>
	{% if submissions %}
	{% for copy in submissions %}
		<tr>
			<td>{{ copy }}<td>
        <td><a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">Details</a></td>
        <div id="copyModal" class="modal fade" role="dialog"></div>

        <td><a class="update_copy" href="#" data-form="{% url 'update_copy' copy.id %}" title="Edit">Edit</a></td>
        <div id="editModal" class="modal fade" role="dialog"></div>
		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td>None, so far! Click <a href="{% url 'submission' %}" class="editbutton" role="button">here</a> to submit some.<td>
		</tr>
	{% endif %}
  </tbody>
</table>

<div class="pagination">
    <table class = "pagenavigator" align="center">
    <tr class ="pagenavigator">
      {% if submissions.has_previous %}
      <td class = "hoverspecial"> <a href="?page={{ submissions.previous_page_number }}"><</a></td>
      {% endif %}

    {% for page in submissions.paginator.page_range %}
      {% if page <= submissions.number|add:"3" %}
        {% if page >= submissions.number|add:"-3" %}
        {% if page == submissions.number %}
          <td class = "currentpage" width="20px">{{ page }}</td>
        {% else %}
          <td class="pagenavigator" width="20px"> <a href = "?page={{ page }}">{{ page }}</td>
        {% endif %}
        {% endif %}

      {% endif %}
    {% endfor %}

      {% if submissions.has_next %}
       <td class = "hoverspecial">  <a href="?page={{ submissions.next_page_number }}">></a></td>
      {% endif %}
    </tr>
  </table>
  Pages generated: {{ submissions.paginator.num_pages }}

</div>

<br>
<br>

<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <thead>
  <tr class="spaceUnder">
		<th colspan=4>Copies you have edited</th>
	</tr>
</thead>
<tbody>
	{% if editted_copies %}
	{% for copy in editted_copies %}
		<tr>
			<td>{{ copy }}<td>
        <td><a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">Details</a></td>
        <td><a class="update_copy" href="#" data-form="{% url 'update_copy' copy.id %}" title="Edit">Edit</a></td>
    </tr>
	{% endfor %}
	{% else %}
		<tr class="spaceUnder">
			<td>None, so far!<td>
		</tr>
	{% endif %}
</tbody>
</table>
</div>
</div>

<script>
$(document).ready(function() {
  $(".copy_data").unbind('click');
  $(".copy_data").click(function(ev) {
    ev.preventDefault();
    var url=$(this).data("form");
    $("#copyModal").load(url, function() {
      $("#copyModal").modal('show');
    });
    return false;
  });

  $(".update_copy").unbind('click');

  $(".update_copy").click(function(ev) {
    ev.preventDefault();
    var url=$(this).data("form");
    $("#editModal").load(url, function() {
      $("#editModal").modal('show');
    });
    return false;
  });
});

function generateDialog(copy_id) {
  $.ajax({
    url: $('.editForm').attr('action'),
    type: "POST",
    datatype: "json",
    data: $('.editForm').serialize(),
    success: function(data) {
      if(Object.keys(data).length === 0) {
        alert('Invalid! Please make sure there is no missing information!');
        $("#editModal").modal('show');
      } else {
        alert('saved');
        $("#editModal").modal('hide');
      }
      // var url = "copydata/" + copy_id + "/";
      // $("#copyModal").load(url, function() {
      //   $("#copyModal").modal('show');
      // });
      }
    });
  return false;
}

function popup(triggeringLink) {
  var href = triggeringLink.href;
  var name = triggeringLink.name;
  var new_win = window.open(href, name, "height=800,width=1000,left=300,top=200,resizable=yes,scrollbars=yes");
  new_win.focus();
  return false;
}
</script>
{% endblock content %}
