{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300" rel="stylesheet">

<!-- <script type="text/javascript" src="/static/census/popup_script.js"></script> -->
<style>
a.editbutton:visited {
    color: green;
}
a.editbutton:link {
    color: green;
}

a.editbutton:hover {
    color: white;
}
a{text-decoration: none }
}


a:link {
    color: white;
}

hr.style2 { 
  color: #f00;
background-color: #000000;
height: 1px;
  border: 0;
  width: 80%;
}
hr.style1 { 
  color: #f00;
background-color: #FFFFFF;
height: 1px;
  border: 0;
  width: 80%;
}


.greeting {
	font-size: 70px;
  	font-family:'Raleway', sans-serif;
  	font-weight:300;
  	text-align: center;
}
.inform {
	font-size: 15px;
	color:white;  	
	font-family: "Century Gothic", AppleGothic, sans-serif;
  	font-weight:lighter;
  	text-align: left;
}
tr.informtable :first-child{
	background-color: #a7c87b;
}

</style>
<div class="wrapper">

<ul>
<li><a class="not.active" href="http://localhost:8000/"><p class="sansserif">
Home</p></a></li>
<li><a class="active" href="http://localhost:8000/titles"><p class="sansserif">
Titles</p></a></li>
<li><a class="not.active" href="http://localhost:8000/census/copy"><p class="sansserif">
Copy</p></a></li>
<li>
    <a class="not.active" href="http://localhost:8000/census/submission" class="dropbtn"><p class="sansserif">Submission</p></a>
</li>
<li><a class="not.active" href="http://localhost:8000/census/register"><p class="sansserif">
Register</p></a></li>


</ul>
</div>
<br>
<div class ="greeting">
Hello, there.
</div>
<br>
<br>
<table align = "center">
	<th colspan = 2> This is what we have stored as our details for you.</th>
	<tr>
		<td>Username: </td>
		<td>{{ user.username}}</td>
	</tr>
	<tr>
		<td>Email: </td>
		<td>{{ user.email }}</td>
	</tr>
	<tr>
		<td>First name: </td>
		<td>{{ user.first_name }}</td>
	</tr>
	<tr>
		<td>Last name: </td>
		<td>{{ user.last_name }}</td>
	</tr>

</table>
<br>
<br>
<table align="center">
	<tr class="informtable"><td colspan=2><div class = "inform">If you'd like to change any of the above information, <br>click <a href="{% url 'edit_profile' %}" class="editbutton" role="button">here</a>.</div></td></tr>
</table>


{% endblock content %}
