{% extends "base.html" %}
{% load static %}
{% block content %}

<div>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <script type="text/javascript" src="/static/census/copy_detail_edit_modal.js"></script>

<!-- models -->
<div id="copyModal" class="modal fade" role="dialog"></div>
<div id="editModal" class="modal fade" role="dialog"></div>
<div id="editChildModal" class="modal fade" role="dialog"></div>


<div class = "history">Copies in {{ affiliation }} </div>

<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <tbody>
    <tr>
      <th>Copy</th>
      <th></th>
      <th>Details</th>
      <th>Librarian validation</th>
      <th>Admin validation</th>
      <th></th>
    </tr>
	{% if parent_copies %}
	{% for copy in parent_copies %}
		<tr>
			<td>{{ copy }}<td>
        <!-- <td> {{ copy.Owner }} </td> -->
        <td><a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">Details</a></td>

        <td id="validate {{ copy.id }}">
          {% if copy.librarian_validated %}
          Yes
          {% else %}
           <button onclick="libValidate({{ copy.id }});">Validate</button>
          {% endif %}
        </td>

        <td> {{ copy.admin_validated }}</td>

        <td><a class="update_copy" href="#" data-form="{% url 'update_copy' copy.id %}" title="Edit">Edit</a></td>


		</tr>

    {% endfor %}
    {% endif %}

  </tbody>
</table>
<br>
<div class = "history">Copies that have been edited or submitted but not validated by admin </div>
<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <tbody>
    <tr>
      <th>Copy</th>
      <th></th>
      <th>Details</th>
      <th>Librarian validation</th>
      <th>Admin validation</th>
      <th></th>
    </tr>
	{% if child_copies %}
	{% for copy in child_copies %}

		<tr>
			<td>{{ copy }}<td>
        <td><a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">Details</a></td>
        <td id="validate {{ copy.id }}">
          {% if copy.librarian_validated %}
          Yes
          {% else %}
           <button onclick="libValidate({{ copy.id }});">Validate</button>
          {% endif %}
        </td>
      <td> {{ copy.admin_validated }}</td>
      <td><a class="update_child_copy" href="#" data-form="{% url 'update_child_copy' copy.id %}" title="Edit">Edit</a></td>

		</tr>

  {% endfor %}
  {% endif %}
  </tbody>
</table>

</div>
<script>
function libValidate(copy_id) {
  var req = new XMLHttpRequest();
  var url = 'librarian_validate/' + copy_id;
  req.open('GET', url, false);
  req.setRequestHeader('Content-Type', 'application/json');
  req.send();
  var res = JSON.parse(req.responseText);
  if (res === "success") {
    var div_id = "validate " + copy_id;
    var selected_div = document.getElementById(div_id);
    selected_div.innerHTML = "Yes";
  }
}
</script>

{% endblock content %}
